
.bookingDahboardMainRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
}

.bookingCards {
  flex: 0 0 calc(20% - 16px); /* 20% width minus gap for 5 cards */
  display: flex;
  align-items: center;
  /* background-color: #f8f9fa; */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.bookingCard:hover {
  transform: translateY(-4px);
}

.bookingCardImage {
  width: 40px;
  height: 40px;
  /* margin-right: 15px; */
}

.bookingCardTexter {
  display: flex;
  flex-direction: column;
}

.bookingCardCount {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.bookingCardStatus {
  font-size: 14px;
  color: #666;
}

.loading,
.error,
.noData {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}

.error {
  color: #d9534f;
}

/* Responsive Design */
@media (max-width: 992px) {
  .bookingCards {
    flex: 0 0 calc(33.33% - 13.33px); /* 3 cards per row */
  }
}

@media (max-width: 768px) {
  .bookingCards {
    flex: 0 0 calc(50% - 10px); /* 2 cards per row */
  }
}

@media (max-width: 576px) {
  .bookingCards {
    flex: 0 0 100%; /* 1 card per row */
  }
}